@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

:root {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-200: #c7d2fe;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-800: #3730a3;
  --color-brand-900: #312e81;

  /* Grey */
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: var(--color-grey-200);
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: var(--color-grey-200);
  color: var(--color-grey-500);
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: 1px solid var(--color-grey-600);
  border-radius: 0.25rem;
  padding: 0.4rem 0.5rem;
  font-size: 1.3rem;
  transition: all 300ms ease;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  border-color: var(--color-brand-600);
  box-shadow: 0 0 0 1px var(--color-brand-600);
  outline: none;
}

button:has(svg) {
  line-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

img {
  max-width: 100%;
}

/* From Uiverse.io by Madflows */
.login-register-button {
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  padding: 0 2rem;
  border-radius: 1.7rem;
  background: var(--color-grey-200);
  background-size: 400%;
  color: #000;
  border: none;
  cursor: pointer;
}

.login-register-button:hover {
  color: var(--color-grey-0);
}

.login-register-button:hover::before {
  transform: scaleX(1);
}

.login-register-button-content {
  position: relative;
  z-index: 1;
}

.login-register-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, var(--color-brand-600) 100%);
  transition: all 0.475s;
}

.live-collaborator {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #69ffa8;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69ffa8;
  }

  100% {
    box-shadow: 0 0 0 14px #69ffa800;
  }
}
